@model MobilitySupplier
@using IBS.Utility
@using IBS.Utility.Constants

@{
    ViewData["Title"] = "Activate Supplier";
}
<div class="loader-container">
    <div class="loader"></div>
    <div class="loader-text">Loading...</div>
</div>
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Activate Supplier</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="SupplierId" hidden />
            <div class="border p-3">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="SupplierName" class="form-control border-0 shadow" placeholder="" disabled readonly />
                    <label asp-for="SupplierName" class="ms-2"></label>
                    <span asp-validation-for="SupplierName" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="SupplierAddress" class="form-control border-0 shadow" placeholder="" disabled readonly />
                    <label asp-for="SupplierAddress" class="ms-2"></label>
                    <span asp-validation-for="SupplierAddress" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="SupplierTin" class="form-control border-0 shadow" placeholder="" disabled readonly />
                    <label asp-for="SupplierTin" class="ms-2"></label>
                    <span asp-validation-for="SupplierTin" class="text-danger"></span>
                </div>
                <div class="form-group py-2 col-12">
                    <select asp-for="SupplierTerms" class="form-select js-select2 border-0 shadow" style="width:100%; max-height: 200px;" disabled readonly>
                        <option value="" selected disabled>Select payment terms</option>
                        <option value="@SD.Terms_Cod">@SD.Terms_Cod</option>
                        <option value="@SD.Terms_Prepaid">@SD.Terms_Prepaid</option>
                        <option value="@SD.Terms_7d">@SD.Terms_7d</option>
                        <option value="@SD.Terms_10d">@SD.Terms_10d</option>
                        <option value="@SD.Terms_15d">@SD.Terms_15d</option>
                        <option value="@SD.Terms_30d">@SD.Terms_30d</option>
                        <option value="@SD.Terms_45d">@SD.Terms_45d</option>
                        <option value="@SD.Terms_60d">@SD.Terms_60d</option>
                        <option value="@SD.Terms_90d">@SD.Terms_90d</option>
                        <option value="@SD.Terms_15pdc">@SD.Terms_15pdc</option>
                        <option value="@SD.Terms_30pdc">@SD.Terms_30pdc</option>
                        <option value="@SD.Terms_45pdc">@SD.Terms_45pdc</option>
                        <option value="@SD.Terms_60pdc">@SD.Terms_60pdc</option>
                        <option value="@SD.Terms_M15">@SD.Terms_M15</option>
                        <option value="@SD.Terms_M29">@SD.Terms_M29</option>
                        <option value="@SD.Terms_M30">@SD.Terms_M30</option>
                    </select>
                    <span asp-validation-for="SupplierTerms" class="text-danger"></span>
                </div>
                <div class="form-group py-2 col-12">
                    <select asp-for="VatType" class="form-select js-select2 border-0 shadow" style="width:100%; max-height: 200px;" disabled readonly>
                        <option value="" selected disabled>Select vat type</option>
                        <option value="@SD.VatType_Vatable">@SD.VatType_Vatable</option>
                        <option value="@SD.VatType_ZeroRated">@SD.VatType_ZeroRated</option>
                        <option value="@SD.VatType_Exempt">@SD.VatType_Exempt</option>
                    </select>
                    <span asp-validation-for="VatType" class="text-danger"></span>
                </div>
                <div class="form-group py-2 col-12">
                    <select asp-for="TaxType" class="form-select js-select2 border-0 shadow" style="width:100%; max-height: 200px;" disabled readonly>
                        <option value="" selected disabled>Select tax type</option>
                        <option value="@SD.TaxType_WithTax">@SD.TaxType_WithTax</option>
                        <option value="@SD.TaxType_Exempt">@SD.TaxType_Exempt</option>
                    </select>
                    <span asp-validation-for="VatType" class="text-danger"></span>
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-success form-control">Activate</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-area="Mobility" asp-controller="Supplier" asp-action="Index" class="btn btn-outline-primary border  form-control ">Back to List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}