@model IEnumerable<Hauler>

@{
    ViewData["Title"] = "Hauler";
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">HAULER</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4 table-responsive">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-area="Filpride" asp-controller="Hauler" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Create New Hauler
                </a>
            </div>
        </div>

        <table class="table table-bordered table-striped" id="dataTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.HaulerCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HaulerName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HaulerAddress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ContactNo)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.OrderBy(u => u.HaulerCode))
                {
                    <tr>
                        <td>
                            @obj.HaulerCode
                        </td>
                        <td>
                            @obj.HaulerName
                        </td>
                        <td>
                            @obj.HaulerAddress
                        </td>
                        <td>
                            @obj.ContactNo
                        </td>
                        <td>
                            <div class="w-100 btn-group" role="group">
                                <a asp-area="Filpride" asp-controller="Hauler" asp-action="Edit" asp-route-id="@obj.HaulerId" class="btn btn-primary mx-2">
                                    <i class="bi bi-pencil-square"></i> Edit
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>