@model FuelPurchase

<div class="modal fade" id="FuelPreview-@Model.FuelPurchaseId" data-bs-backdrop="static" aria-labelledby="FuelPreview" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="FuelPreview">Delivery Details</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <p><b>Date:</b> @Html.DisplayFor(model => model.DeliveryDate)</p>
                        <p><b>Time In:</b> @Html.DisplayFor(model => model.TimeIn)</p>
                        <p><b>Time Out:</b> @Html.DisplayFor(model => model.TimeOut)</p>
                        <p><b>Driver:</b> @Html.DisplayFor(model => model.Driver)</p>
                        <p><b>Hauler:</b> @Html.DisplayFor(model => model.Hauler)</p>
                        <p><b>Plate #:</b> @Html.DisplayFor(model => model.PlateNo)</p>
                    </div>
                    <div class="col-6">
                        <p><b>DR #:</b> @Html.DisplayFor(model => model.DrNo)</p>
                        <p><b>WC #:</b> @Html.DisplayFor(model => model.WcNo)</p>
                        <p><b>Tank #:</b> @Html.DisplayFor(model => model.TankNo)</p>
                        <p><b>Product:</b> @Html.DisplayFor(model => model.ProductCode) - <span class="product-name text-uppercase"></span></p>
                        <p><b>Cost:</b> @Html.DisplayFor(model => model.PurchasePrice)</p>
                        <p><b>Price:</b> @Html.DisplayFor(model => model.SellingPrice)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p><b>Quantity:</b> @Html.DisplayFor(model => model.Quantity)</p>
                        <p><b>Quantity Before:</b> @Html.DisplayFor(model => model.QuantityBefore)</p>
                        <p><b>Quantity After:</b> @Html.DisplayFor(model => model.QuantityAfter)</p>
                    </div>
                    <div class="col-6">
                        <p><b>Should Be:</b> @Html.DisplayFor(model => model.ShouldBe)</p>
                        <p><b>Gain/Loss:</b> @Html.DisplayFor(model => model.GainOrLoss)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p><b>Received By:</b> @Html.DisplayFor(model => model.ReceivedBy)</p>
                        <p><b>Station Code:</b> @Html.DisplayFor(model => model.StationCode)</p>
                    </div>
                </div>

                <div class="row mt-2">
                    @if (Model.PostedBy == null)
                    {
                        <div class="col-12 col-md-auto">
                            <a asp-area="User" asp-controller="Purchase" asp-action="PostFuel" asp-route-id="@Model.FuelPurchaseId" class="btn btn-primary">Approve</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


