@model IEnumerable<dynamic>

@{
    ViewData["Title"] = "Fuel Purchase";
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Fuel Delivery</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4 table-responsive">
        <table class="table table-bordered table-striped" id="dataTable">
            <thead>
                <tr>
                    <th>
                        Station
                    </th>
                    <th>
                        Purchase No.
                    </th>
                    <th>
                        Delivery Date
                    </th>
                    <th>
                        Product
                    </th>
                    <th>
                        Received By
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.OrderBy(u => u.FuelPurchaseId))
                {
                    <tr>
                        <td>
                            @obj.StationCode - @obj.StationName
                        </td>
                        <td>
                            @obj.FuelPurchaseNo
                        </td>
                        <td>
                            @obj.DeliveryDate.ToString("MMMM dd, yyyy")
                        </td>
                        <td>
                            @obj.ProductCode - @obj.ProductName
                        </td>
                        <td>
                            @obj.ReceivedBy
                        </td>
                        <td>
                            <div class="w-100 btn-group" role="group">
                                @if(obj.PostedBy == null){
                                    <a asp-area="User" asp-controller="Purchase" asp-action="EditFuel" asp-route-id="@obj.FuelPurchaseNo" asp-route-stationCode="@obj.StationCode" class="btn btn-primary mx-2">
                                        <i class="bi bi-pencil-square"></i> Edit
                                    </a>
                                }
                                <a class="btn btn-primary mx-2 preview-btn" asp-area="User" asp-controller="Purchase" asp-action="PreviewFuel" asp-route-id="@obj.FuelPurchaseNo" asp-route-stationCode="@obj.StationCode">
                                    <i class="bi bi-printer-fill"></i> Preview
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
</div>

