@model IEnumerable<LubePurchaseHeader>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Lube Delivery</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4 table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.StationCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DeliveryDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SupplierCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SalesInvoice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ReceivedBy)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.OrderBy(u => u.LubeDeliveryHeaderId))
                {
                    <tr>
                        <td>
                            @obj.StationCode
                        </td>
                        <td>
                            @obj.DeliveryDate.ToString("MMMM dd, yyyy")
                        </td>
                        <td>
                            @obj.SupplierCode
                        </td>
                        <td>
                            @obj.SalesInvoice
                        </td>
                        <td>
                            @obj.ReceivedBy
                        </td>
                        <td>
                            <div class="w-100 btn-group" role="group">
                                <a asp-area="User" asp-controller="Purchase" asp-action="EditLube" asp-route-id="@obj.LubeDeliveryHeaderId" class="btn btn-primary mx-2">
                                    <i class="bi bi-pencil-square"></i> Edit
                                </a>
                                <a asp-area="User" asp-controller="Purchase" asp-action="PreviewLube" asp-route-id="@obj.LubeDeliveryHeaderId" class="btn btn-primary mx-2">
                                    <i class="bi bi-printer-fill"></i> Preview
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.preview-btn').click(function () {
                var productCode = $(this).data('product-code');
                $.ajax({
                    type: "GET",
                    url: "/User/Purchase/GetProductName",
                    data: { productCode: productCode },
                    success: function (data) {
                        $(".product-name").text(data.productName);
                    },
                    error: function () {
                        alert("Error fetching product name.");
                    }
                });
            });
        });
    </script>
}

