@model FilprideAuthorityToLoad

@{
    ViewData["Title"] = "Print ATL";
}

<div class="container mt-4">
    <div class="text-end">
        <img src="~/img/Filpride.jpg" width="130px" />
    </div>
    <div class="text-center mb-4">
        <h2><u><b>FILPRIDE RESOURCES INC.</b></u></h2>
        <p>
            57 Westgate Office, Sampson Road, CBD, Subic Bay Freeport Zone, Kalaklan,<br />
            Olongapo City, 2200 Zambales, Philippines<br />
            VAT Reg. TIN: 000-216-589-00000
        </p>
        <h3><b>AUTHORITY TO LOAD</b></h3>
    </div>
    <div class="table-responsive">
        <table class="table table-borderless">
            <tbody>
                <tr>
                    <td><b>Supplier:</b> @Model.DeliveryReceipt?.CustomerOrderSlip.PurchaseOrder?.Supplier?.SupplierName</td>
                    <td class="text-end"><b>Customer PO Ref#:</b> @Html.DisplayFor(model => model.DeliveryReceipt.CustomerOrderSlip.CustomerPoNo)</td>
                </tr>
                <tr>
                    <td><b>Date Booked:</b> @Html.DisplayFor(model => model.DateBooked)</td>
                    <td class="text-end"><b>Freight:</b> @Html.DisplayFor(model => model.DeliveryReceipt.Freight)</td>
                </tr>
                <tr>
                    <td><b>Valid Until:</b> @Html.DisplayFor(model => model.ValidUntil)</td>
                    <td></td>
                </tr>
                <tr>
                    <td><b>Load Port:</b> @Model.DeliveryReceipt?.CustomerOrderSlip.PickUpPoint.Depot</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="5" class="text-center table-secondary">Filpride's ATL#: @Model.AuthorityToLoadNo</th>
                </tr>
                @if (Model.UppiAtlNo != null)
                {
                <tr>
                    <th colspan="5" class="text-center table-secondary">Supplier's ATL#: @Model.UppiAtlNo</th>
                </tr>
                }
                <tr>
                    <th>Customer</th>
                    <th>Product</th>
                    <th>Volume</th>
                    <th>Supplier SO#</th>
                    <th>Filpride PO#</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.DeliveryReceipt.Customer.CustomerName</td>
                        <td>@Model.DeliveryReceipt.CustomerOrderSlip.PurchaseOrder.Product.ProductName</td>
                        <td>@Html.DisplayFor(model => model.DeliveryReceipt.Quantity)</td>
                        <td>@Model.DeliveryReceipt.CustomerOrderSlip.PurchaseOrder.SupplierSalesOrderNo</td>
                        <td>@Model.DeliveryReceipt.CustomerOrderSlip.PurchaseOrder.PurchaseOrderNo</td>
                    </tr>
                </tbody>
            </table>
    </div>
    <div class="table-responsive">
        <table class="table table-borderless">
            <tbody>
                <tr>
                    <td><b>Hauler:</b> @Model.DeliveryReceipt?.Hauler?.SupplierName</td>
                </tr>
                <tr>
                    <td><b>Driver:</b> @Model.DeliveryReceipt?.Driver</td>
                </tr>
                <tr>
                    <td><b>Plate #:</b> @Model.DeliveryReceipt.PlateNo</td>
                </tr>
                <tr>
                    <td class="mt-5"><b>Remarks:</b><pre>@Model.Remarks</pre></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row mt-5">
        <div class="col text-center">
            <p><b>Prepared by:</b></p>
            <br /><br />
            <p>_____________________________</p>
            <p><b>@Model.CreatedBy.ToUpper()</b></p>
        </div>

        <div class="col text-center">
            <p><b>Noted by:</b></p>
            <br /><br />
            <p>_____________________________</p>
            <p><b>RVS</b></p>
        </div>

        <div class="col text-center">
            <p><b>Received by:</b></p>
            <br /><br />
            <p>_____________________________</p>
            <p><b>LOGISTICS</b></p>
        </div>
    </div>

    <div class="row pt-2">
        <div class="col-6 col-md-3">
            <a onclick="window.print()" class="btn btn-primary form-control buttons">Print</a>
        </div>

        <div class="col-6 col-md-3">
            <a asp-area="Filpride" asp-controller="AuthorityToLoad" asp-action="Index" class="btn btn-outline-primary border form-control buttons">Back to List</a>
        </div>
    </div>
</div>