@model IEnumerable<GeneralLedger>

@{
    string currencyFormat = "N2";
    decimal balance = 0;
}

<style>
    .container {
        max-width: none;
    }

    @@page {
        size: landscape;
    }
</style>

<div class="mb-3">
    <h5>GENERAL LEDGER BY ACCOUNT NUMBER</h5>
    <h6>Date Range: @ViewData["DateFrom"] - @ViewData["DateTo"]</h6>
    <h6>Account No.: @ViewData["AccountNo"]</h6>
    <h6>Account Title: @ViewData["AccountName"]</h6>
    <h6>Product Code: @ViewData["ProductCode"]</h6>
</div>

@if (Model.Any())
{
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr class="table-primary">
                    <th>Date</th>
                    <th>Particular</th>
                    @if (@ViewData["AccountNo"].ToString() == "ALL")
                    {
                        <th>Account No</th>
                        <th>Account Title</th>
                    }
                    @if (@ViewData["ProductCode"].ToString() == "ALL")
                    {
                        <th>Product Code</th>
                    }
                    <th class="text-end">Debit</th>
                    <th class="text-end">Credit</th>
                    <th class="text-end">Balance</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var journal in Model.OrderBy(j => j.AccountNumber))
                {
                    balance += journal.Debit + journal.Credit;

                    <tr>
                        <td>@journal.TransactionDate</td>
                        <td>@journal.Particular</td>
                        @if (@ViewData["AccountNo"].ToString() == "ALL")
                        {
                        <td>@journal.AccountNumber</td>
                        <td>@journal.AccountTitle</td>
                        }
                        @if (@ViewData["ProductCode"].ToString() == "ALL")
                        {
                        <td>@journal.ProductCode</td>
                        }
                        <td class="text-end">@journal.Debit.ToString(currencyFormat)</td>
                        <td class="text-end">@journal.Credit.ToString(currencyFormat)</td>
                        <td class="text-end">@balance.ToString(currencyFormat)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p><i>No ledger entries found for the specified criteria.</i></p>
}

<div class="row mt-5">
    <div class="col-6 col-md-3">
        <a onclick="window.print()" class="btn btn-primary form-control buttons">Print</a>
    </div>
    <div class="col-6 col-md-3">
        <a asp-area="User" asp-controller="GeneralLedger" asp-action="GetAccountNo" class="btn btn-outline-primary border form-control buttons">Back</a>
    </div>
</div>