@model IEnumerable<GeneralLedger>

<style>
    .container {
        max-width: none;
    }

    @@page {
        size: landscape;
    }
</style>

<div class="mb-3">
    <h4>GENERAL LEDGER BY @ViewData["Journal"] JOURNAL</h4>
</div>

@if (Model.Any())
{
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr class="table-primary">
                    <th>Date</th>
                    <th>Particular</th>
                    <th>Account Number</th>
                    <th>Account Title</th>
                    <th class="text-center">Debit</th>
                    <th class="text-center">Credit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var journal in Model.OrderBy(j => j.AccountNumber))
                {
                    <tr>
                        <td>@journal.TransactionDate</td>
                        <td>@journal.Particular</td>
                        <td>@journal.AccountNumber</td>
                        <td>@journal.AccountTitle</td>
                        <td class="text-end">@journal.Debit.ToString("N2")</td>
                        <td class="text-end">@journal.Credit.ToString("N2")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p><i>No ledger entries found for the specified criteria.</i></p>
}

<div class="row mt-5">
    <div class="col-6 col-md-3">
        <a onclick="window.print()" class="btn btn-primary form-control buttons">Print</a>
    </div>
    <div class="col-6 col-md-3">
        <a asp-area="User" asp-controller="GeneralLedger" asp-action="GetJournal" class="btn btn-outline-primary border form-control buttons">Back</a>
    </div>
</div>