@using IBS.Utility.Enums
@model IEnumerable<FilprideCustomerOrderSlip>

@{
    ViewData["Title"] = "Customer Order Slip";
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">CUSTOMER ORDER SLIP</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4 table-responsive">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-area="Filpride" asp-controller="CustomerOrderSlip" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Create New
                </a>
            </div>
        </div>
        <table class="table table-bordered table-hover" id="paginatedTable">
            <thead>
                <tr class="text-nowrap table-secondary">
                    <th>
                        @Html.DisplayNameFor(m => m.CustomerOrderSlipNo)
                    </th>
                    <th>
                        OTC COS No
                    </th>
                    <th>
                        PO No
                    </th>
                    <th>
                        Depot
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Date)
                    </th>
                    <th>
                        Customer
                    </th>
                    <th>
                        Product
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Total Amount
                    </th>
                    <th>
                        Status
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            
            $('#paginatedTable').DataTable({
                "processing": true,
                "serverSide": true,
                "stateSave": true,
                "ajax": {
                    "url": "@Url.Action("GetCustomerOrderSlips", "CustomerOrderSlip", new { area = "Filpride", filterType = ViewBag.FilterType?.ToString() })",
                    "type": "POST",
                    "data": function (d) {
                        return $.extend({}, d, {
                            __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
                        });
                    },
                },
                "columns": [
                    { "data": "customerOrderSlipNo" },
                    { "data": "oldCosNo" },
                    { "data": "purchaseOrder.purchaseOrderNo" },
                    { "data": "pickUpPoint.depot" },
                    { "data": "date", "render": function (data) {
                        var date = new Date(data);
                        return date.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: '2-digit' });
                    }},
                    { "data": "customer.customerName" },
                    { "data": "product.productName" },
                    {
                        "data": "quantity",
                        "render": function (data, type, row) {
                            var amount = $.fn.dataTable.render.number(',', '.', 4).display(data);
                            return `<span class="text-end d-block">${amount}</span>`;
                        }
                    },
                    {
                        "data": "totalAmount",
                        "render": function (data, type, row) {
                            var amount = $.fn.dataTable.render.number(',', '.', 4).display(data);
                            return `<span class="text-end d-block">${amount}</span>`;
                        }
                    },
                    {
                        "data": "status",
                        "render": function (data) {
                            var badgeClass = "";
                            switch (data) {
                                case '@CosStatus.Created':
                                    badgeClass = "badge bg-primary";
                                    break;
                                case '@CosStatus.SupplierAppointed':
                                case '@CosStatus.HaulerAppointed':
                                case '@CosStatus.ForAtlBooking':
                                    badgeClass = "badge bg-info";
                                    break;
                                case '@CosStatus.ForApprovalOfFM':
                                    badgeClass = "badge bg-warning";
                                    break;
                                case '@CosStatus.ForDR':
                                case '@CosStatus.Completed':
                                    badgeClass = "badge bg-success";
                                    break;
                                case "@CosStatus.Expired":
                                case "@CosStatus.Disapproved":
                                case "@CosStatus.Closed":
                                    badgeClass = "badge bg-danger";
                                    break;
                                default:
                                    badgeClass = "badge bg-secondary";
                                    break;
                            }
                            return `<span class="${badgeClass} rounded-pill w-100">${data}</span>`;
                        }
                    },
                    {
                        "data": null,
                        "orderable": false,
                        "render": function (data, type, row) {
                            var status = row.status;
                            var customerOrderSlipId = row.customerOrderSlipId;
                            var actions = `<div class="dropdown">
                                             <button class="btn btn-light dropdown-toggle w-100" type="button" id="actionsDropdown" data-bs-toggle="dropdown" aria-expanded="false">Actions</button>
                                             <ul class="dropdown-menu" aria-labelledby="actionsDropdown">`;

                            switch (status) {
                                case '@CosStatus.Created':
                                    actions += `<li><a class="dropdown-item" href="@Url.Action("EditCos", "CustomerOrderSlip", new { area = "Filpride" })/${customerOrderSlipId}">Edit COS</a></li>
                                                <li><a class="dropdown-item" href="@Url.Action("AppointSupplier", "CustomerOrderSlip", new { area = "Filpride" })/${customerOrderSlipId}">Appoint Supplier</a></li>
                                                <li><a class="dropdown-item" href="@Url.Action("AppointHauler", "CustomerOrderSlip", new { area = "Filpride" })/${customerOrderSlipId}">Appoint Hauler</a></li>`;
                                    break;
                                case '@CosStatus.SupplierAppointed':
                                case '@CosStatus.HaulerAppointed':
                                case '@CosStatus.ForAtlBooking':
                                    // Check for Supplier Appointment Status

                                    actions += `<li><a class="dropdown-item" href="@Url.Action("EditCos", "CustomerOrderSlip", new { area = "Filpride" })/${customerOrderSlipId}">Edit COS</a></li>`;

                                    if (row.supplierId != null ) {
                                        actions += `<li><a class="dropdown-item" href="@Url.Action("ReAppointSupplier", "CustomerOrderSlip", new { area = "Filpride" })/${customerOrderSlipId}">Reappoint Supplier</a></li>`;
                                    } else {
                                        actions += `<li><a class="dropdown-item" href="@Url.Action("AppointSupplier", "CustomerOrderSlip", new { area = "Filpride" })/${customerOrderSlipId}">Appoint Supplier</a></li>`;
                                    }

                                    // Check for Hauler Appointment Status
                                    if (row.haulerId != null) {
                                        actions += `<li><a class="dropdown-item" href="@Url.Action("ReAppointHauler", "CustomerOrderSlip", new { area = "Filpride" })/${customerOrderSlipId}">Reappoint Hauler</a></li>`;
                                    } else {
                                        actions += `<li><a class="dropdown-item" href="@Url.Action("AppointHauler", "CustomerOrderSlip", new { area = "Filpride" })/${customerOrderSlipId}">Appoint Hauler</a></li>`;
                                    }

                                    if (status === '@CosStatus.ForAtlBooking') {
                                        actions += `<li><a class="dropdown-item" target="_blank" href="@Url.Action("Create", "AuthorityToLoad", new { area = "Filpride" })">Book ATL</a></li>`;
                                    }

                                    break;
                                case '@CosStatus.ForApprovalOfOM':
                                    actions += `<li><a class="dropdown-item" href="@Url.Action("EditCos", "CustomerOrderSlip", new { area = "Filpride" })/${customerOrderSlipId}">Edit COS</a></li>`;
                                    actions += `<li><a class="dropdown-item" href="@Url.Action("Preview", "CustomerOrderSlip", new { area = "Filpride" })/${customerOrderSlipId}">Preview</a></li>`;
                                    actions += `<li><a class="dropdown-item" href="@Url.Action("ReAppointSupplier", "CustomerOrderSlip", new { area = "Filpride" })/${customerOrderSlipId}">Reappoint Supplier</a></li>`;
                                    actions += `<li><a class="dropdown-item" href="@Url.Action("ReAppointHauler", "CustomerOrderSlip", new { area = "Filpride" })/${customerOrderSlipId}">Reappoint Hauler</a></li>`;
                                    break;
                                case '@CosStatus.ForApprovalOfFM':
                                    actions += `<li><a class="dropdown-item" href="@Url.Action("Preview", "CustomerOrderSlip", new { area = "Filpride" })/${customerOrderSlipId}">Preview</a></li>`;
                                    break;
                                case '@CosStatus.ForDR':
                                    actions += `<li><a class="dropdown-item" href="@Url.Action("Preview", "CustomerOrderSlip", new { area = "Filpride" })/${customerOrderSlipId}">Print</a></li>`;
                                    break;
                                default:
                                    actions += `<li><a class="dropdown-item" href="@Url.Action("Preview", "CustomerOrderSlip", new { area = "Filpride" })/${customerOrderSlipId}">View Details</a></li>`;
                                    break;
                            }

                            if (status != '@CosStatus.Expired' && status != '@CosStatus.Completed' && status != '@CosStatus.Closed')
                            {
                                actions += `<li><a class="dropdown-item" href="#" onclick="confirmCloseCos('${customerOrderSlipId}')">Close COS</a></li>`;
                            }
                            actions += `</ul></div>`;
                            return actions;
                        }
                    }
                ]
            });
        });
    </script>
    <script>
    function bookAuthorityToLoad(id, supplierName) {
        supplierName = supplierName.toUpperCase();
        const today = new Date().toISOString().split('T')[0]; // Get today's date in YYYY-MM-DD format

        if (supplierName.includes("UNIOIL")) {
            Swal.fire({
                title: 'Book Authority To Load',
                html: `
                    <input type="text" id="atlNo" class="swal2-input" placeholder="UPPI ATL No">
                    <input type="date" id="bookingDate" class="swal2-input" placeholder="Date of Booking" value="${today}">`, // Default to today's date
                focusConfirm: false,
                showCancelButton: true,
                confirmButtonText: 'Submit',
                preConfirm: () => {
                    const atlNo = document.getElementById('atlNo').value;
                    const bookingDate = document.getElementById('bookingDate').value;
                    if (!atlNo || !bookingDate) {
                        Swal.showValidationMessage('Please enter both UPPI ATL No and Date of Booking.');
                    }
                    return { atlNo, bookingDate };
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    var url = `@Url.Action("BookAuthorityToLoad", "CustomerOrderSlip", new { area = "Filpride" })?id=${id}&supplierAtlNo=${result.value.atlNo}&bookedDate=${result.value.bookingDate}`;
                    window.location.href = url;
                }
            });
        } else {
            Swal.fire({
                title: 'Book Authority To Load',
                html: `<input type="date" id="bookedDate" class="swal2-input" placeholder="Select Date" value="${today}">`, // Default to today's date
                focusConfirm: false,
                showCancelButton: true,
                confirmButtonText: 'Submit',
                preConfirm: () => {
                    const bookedDate = document.getElementById('bookedDate').value;
                    if (!bookedDate) {
                        Swal.showValidationMessage('Please select a date.');
                    }
                    return bookedDate;
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    var url = `@Url.Action("BookAuthorityToLoad", "CustomerOrderSlip", new { area = "Filpride" })?id=${id}&bookedDate=${result.value}`;
                    window.location.href = url;
                }
            });
        }
    }

    // SweetAlert function
    function confirmCloseCos(customerOrderSlipId) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, close it!'
        }).then((result) => {
            if (result.isConfirmed) {
                // Redirect to the Close COS action
                window.location.href = `@Url.Action("Close", "CustomerOrderSlip", new { area = "Filpride" })/${customerOrderSlipId}`;
            }
        });
    }
    
    </script>

}