@model IEnumerable<FilprideCustomerOrderSlip>

@{
    ViewData["Title"] = "Customer Order Slip";
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">CUSTOMER ORDER SLIP</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4 table-responsive">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-area="Filpride" asp-controller="CustomerOrderSlip" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Create New
                </a>
            </div>
        </div>
        <table class="table table-bordered table-striped" id="dataTable">
            <thead>
                <tr class="text-nowrap">
                    <th>
                        @Html.DisplayNameFor(m => m.CustomerOrderSlipNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Date)
                    </th>
                    <th>
                        Customer
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Total Amount
                    </th>
                    <th>
                        Status
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.OrderBy(u => u.CustomerOrderSlipNo))
                {
                    <tr>
                        <td>
                            @obj.CustomerOrderSlipNo
                        </td>
                        <td>
                            @obj.Date.ToString("MMM dd, yyyy")
                        </td>
                        <td>
                            @obj.Customer?.CustomerName
                        </td>
                        <td>
                            @Html.DisplayFor(model => obj.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(model => obj.TotalAmount)
                        </td>
                        <td>
                            @{
                                var status = obj.ApprovedBy != null && obj.DisapprovedBy == null
                                    ? "Approved"
                                        : obj.DisapprovedBy != null
                                            ? "Disapproved"
                                            : "Pending";
                            }
                            <span class="badge rounded-pill @if(status == "Approved") {<text>bg-info</text>} else if(status == "Disapproved") {<text>bg-danger</text>}">@status</span>
                        </td>
                        <td class="text-center">
                            <div class="dropdown" style="@(obj.DisapprovedBy != null ? "display:none;" : "")">
                                <button class="btn btn-light dropdown-toggle" type="button" id="actionsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                    Actions
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="actionsDropdown">
                                    @if (obj.ApprovedBy == null)
                                    {
                                        <li><a class="dropdown-item" asp-area="Filpride" asp-controller="CustomerOrderSlip" asp-action="Edit" asp-route-id="@obj.CustomerOrderSlipId">Edit</a></li>
                                        <li><a class="dropdown-item" asp-area="Filpride" asp-controller="CustomerOrderSlip" asp-action="Preview" asp-route-id="@obj.CustomerOrderSlipId">Preview</a></li>
                                        }
                                        else
                                        {
                                        <li><a class="dropdown-item" asp-area="Filpride" asp-controller="CustomerOrderSlip" asp-action="Preview" asp-route-id="@obj.CustomerOrderSlipId">Print</a></li>

                                        }

                                    </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>
