@model IEnumerable<FilprideCustomerOrderSlip>

@{
    ViewData["Title"] = "Customer Order Slip";
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">CUSTOMER ORDER SLIP</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4 table-responsive">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-area="Filpride" asp-controller="CustomerOrderSlip" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Create New
                </a>
            </div>
        </div>
        <table class="table table-bordered table-hover" id="paginatedTable">
            <thead>
                <tr class="text-nowrap table-secondary">
                    <th>
                        @Html.DisplayNameFor(m => m.CustomerOrderSlipNo)
                    </th>
                    <th>
                        OTC COS No
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Date)
                    </th>
                    <th>
                        Customer
                    </th>
                    <th>
                        Product
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Total Amount
                    </th>
                    <th>
                        Status
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#paginatedTable').DataTable({
                "processing": true,
                "serverSide": true,
                "stateSave": true,
                "ajax": {
                    "url": "@Url.Action("GetCustomerOrderSlips", "CustomerOrderSlip", new { area = "Filpride" })",
                    "type": "POST",
                    "data": function (d) {
                        return $.extend({}, d, {
                            __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
                        });
                    },
                },
                "columns": [
                    { "data": "customerOrderSlipNo" },
                    { "data": "oldCosNo" },
                    { "data": "date", "render": function (data) {
                        var date = new Date(data);
                        return date.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: '2-digit' });
                    }},
                    { "data": "customer.customerName" },
                    { "data": "product.productName" },
                    {
                        "data": "quantity",
                        "render": function (data, type, row) {
                            var amount = $.fn.dataTable.render.number(',', '.', 2).display(data);
                            return `<span class="text-end d-block">${amount}</span>`;
                        }
                    },
                    {
                        "data": "totalAmount",
                        "render": function (data, type, row) {
                            var amount = $.fn.dataTable.render.number(',', '.', 2).display(data);
                            return `<span class="text-end d-block">${amount}</span>`;
                        }
                    },
                    {
                        "data": "status",
                        "render": function (data) {
                            var badgeClass = "";
                            switch (data) {
                                case '@CosStatus.Created':
                                    badgeClass = "badge bg-primary";
                                    break;
                                case '@CosStatus.SupplierAppointed':
                                    badgeClass = "badge bg-info";
                                    break;
                                case '@CosStatus.ApprovedByOpsManager':
                                    badgeClass = "badge bg-warning";
                                    break;
                                case '@CosStatus.Completed':
                                    badgeClass = "badge bg-success";
                                    break;
                                case "@CosStatus.Expired":
                                case "@CosStatus.Disapproved":
                                    badgeClass = "badge bg-danger";
                                    break;
                                default:
                                    badgeClass = "badge bg-secondary";
                                    break;
                            }
                            return `<span class="${badgeClass} rounded-pill w-100">${data}</span>`;
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            var status = row.status;
                            var customerOrderSlipId = row.customerOrderSlipId;
                            var actions = `<div class="dropdown">
                                             <button class="btn btn-light dropdown-toggle w-100" type="button" id="actionsDropdown" data-bs-toggle="dropdown" aria-expanded="false">Actions</button>
                                             <ul class="dropdown-menu" aria-labelledby="actionsDropdown">`;

                            switch (status) {
                                case 'Created':
                                    actions += `<li><a class="dropdown-item" href="@Url.Action("EditCos", "CustomerOrderSlip", new { area = "Filpride" })/${customerOrderSlipId}">Edit COS</a></li>
                                                <li><a class="dropdown-item" href="@Url.Action("AppointSupplier", "CustomerOrderSlip", new { area = "Filpride" })/${customerOrderSlipId}">Appoint Supplier</a></li>`;
                                    break;
                                case 'SupplierAppointed':
                                    actions += `<li><a class="dropdown-item" href="@Url.Action("AppointSupplier", "CustomerOrderSlip", new { area = "Filpride" })/${customerOrderSlipId}">Reappoint Supplier</a></li>
                                                <li><a class="dropdown-item" href="@Url.Action("Preview", "CustomerOrderSlip", new { area = "Filpride" })/${customerOrderSlipId}">Preview</a></li>`;
                                    break;
                                case 'ApprovedByOpsManager':
                                    actions += `<li><a class="dropdown-item" href="@Url.Action("Preview", "CustomerOrderSlip", new { area = "Filpride" })/${customerOrderSlipId}">Preview</a></li>`;
                                    break;
                                case 'Completed':
                                    actions += `<li><a class="dropdown-item" href="@Url.Action("Preview", "CustomerOrderSlip", new { area = "Filpride" })/${customerOrderSlipId}">Print</a></li>`;
                                    break;
                                default:
                                    actions += `<li><a class="dropdown-item" href="@Url.Action("Preview", "CustomerOrderSlip", new { area = "Filpride" })/${customerOrderSlipId}">View Details</a></li>`;
                                    break;
                            }

                            actions += `</ul></div>`;
                            return actions;
                        }
                    }
                ]
            });
        });
    </script>
    <script>
    function bookAuthorityToLoad(id, supplierName) {
        supplierName = supplierName.toUpperCase();
        const today = new Date().toISOString().split('T')[0]; // Get today's date in YYYY-MM-DD format

        if (supplierName.includes("UNIOIL")) {
            Swal.fire({
                title: 'Book Authority To Load',
                html: `
                    <input type="text" id="atlNo" class="swal2-input" placeholder="UPPI ATL No">
                    <input type="date" id="bookingDate" class="swal2-input" placeholder="Date of Booking" value="${today}">`, // Default to today's date
                focusConfirm: false,
                showCancelButton: true,
                confirmButtonText: 'Submit',
                preConfirm: () => {
                    const atlNo = document.getElementById('atlNo').value;
                    const bookingDate = document.getElementById('bookingDate').value;
                    if (!atlNo || !bookingDate) {
                        Swal.showValidationMessage('Please enter both UPPI ATL No and Date of Booking.');
                    }
                    return { atlNo, bookingDate };
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    var url = `@Url.Action("BookAuthorityToLoad", "CustomerOrderSlip", new { area = "Filpride" })?id=${id}&supplierAtlNo=${result.value.atlNo}&bookedDate=${result.value.bookingDate}`;
                    window.location.href = url;
                }
            });
        } else {
            Swal.fire({
                title: 'Book Authority To Load',
                html: `<input type="date" id="bookedDate" class="swal2-input" placeholder="Select Date" value="${today}">`, // Default to today's date
                focusConfirm: false,
                showCancelButton: true,
                confirmButtonText: 'Submit',
                preConfirm: () => {
                    const bookedDate = document.getElementById('bookedDate').value;
                    if (!bookedDate) {
                        Swal.showValidationMessage('Please select a date.');
                    }
                    return bookedDate;
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    var url = `@Url.Action("BookAuthorityToLoad", "CustomerOrderSlip", new { area = "Filpride" })?id=${id}&bookedDate=${result.value}`;
                    window.location.href = url;
                }
            });
        }
    }
    </script>

}