@model IEnumerable<FilprideCustomerOrderSlip>

@{
    ViewData["Title"] = "Customer Order Slip";
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">CUSTOMER ORDER SLIP</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4 table-responsive">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-area="Filpride" asp-controller="CustomerOrderSlip" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Create New
                </a>
            </div>
        </div>
        <table class="table table-bordered table-striped" id="dataTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(m => m.CustomerOrderSlipNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Date)
                    </th>
                    <th>
                        Customer
                    </th>
                    <th>
                        Product
                    </th>
                    <th>
                        Total Amount
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.OrderBy(u => u.CustomerOrderSlipNo))
                {
                    <tr>
                        <td>
                            @obj.CustomerOrderSlipNo
                        </td>
                        <td>
                            @obj.Date.ToString("MMM dd, yyyy")
                        </td>
                        <td>
                            @obj.Customer?.CustomerName
                        </td>
                        <td>
                            @obj.Product?.ProductName
                        </td>
                        <td>
                            @Html.DisplayFor(model => obj.TotalAmount)
                        </td>
                        <td>
                            <div class="w-100 btn-group" role="group">
                                @if (obj.DisapprovedBy != null)
                                {
                                    <span class="badge rounded-bill bg-danger w-100">Disapproved</span>
                                }
                                else if (obj.ApprovedBy == null && obj.DisapprovedBy == null)
                                {
                                    <a asp-area="Filpride" asp-controller="CustomerOrderSlip" asp-action="Edit" asp-route-id="@obj.CustomerOrderSlipNo" class="btn btn-primary mx-2">
                                        <i class="bi bi-pencil-square"></i> Edit
                                    </a>
                                }
                                else if (obj.ApprovedBy != null && obj.DisapprovedBy == null)
                                {
                                    <a class="btn btn-primary mx-2 preview-btn" asp-area="Filpride" asp-controller="CustomerOrderSlip" asp-action="Preview" asp-route-id="@obj.CustomerOrderSlipNo">
                                        <i class="bi bi-printer-fill"></i> Preview
                                    </a>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>
