@using Microsoft.AspNetCore.Identity
@model FilprideCustomerOrderSlip
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Preview Customer Order Slip";
}

<table class="w-100">
    <tbody>
        <tr>
            <td class="text-end" style="padding: 0 !important;"><img src="~/img/Filpride.jpg" width="130px" /></td>
        </tr>
        <tr style="margin: 0 !important;">
            <td class="text-center" style="padding: 0 !important;">
                <h2 class="company-name" style="margin: 0 0 1px 0;"><u><b>&nbsp;FILPRIDE RESOURCES INC.&nbsp;</b></u></h2>
                <p style="margin: 0; padding: 0; line-height: 1;">
                    57 Westgate Office, Sampson Road, CBD, Subic Bay Freeport Zone,<br />
                    Kalaklan, Olongapo City, 2200 Zambales, Philippines<br />
                    VAT Reg. TIN: 000-216-589-00000
                </p>
            </td>
        </tr>
        <tr>
            <td class="text-end" style="padding: 0 !important;"><h6 class="series"><b>No.&nbsp;@Html.DisplayFor(model => model.CustomerOrderSlipNo)</b></h6></td>
        </tr>
        <tr>
            <td class="text-center" style="padding: 0 !important;"><h3 class="module-name"><b>CUSTOMER ORDER SLIP</b></h3></td>
        </tr>
    </tbody>
</table>

<div class="table-responsive mt-5">
    <table class="w-100">
        <tbody>
            <tr>
                <td class="w-75"><b>Customer No:</b> &nbsp;@Model.Customer?.CustomerCode</td>
                <td class="w-25 text-end"><b>Date:</b> &nbsp;@Model.Date.ToString("MMM dd, yyyy")</td>
            </tr>
            <tr>
                <td class="w-75"><b>Customer Name:</b> &nbsp;@Model.Customer?.CustomerName</td>
                <td class="w-25 text-end"><b>Exp Date:</b> &nbsp;@Model.ExpirationDate?.ToString("MMM dd, yyyy")</td>
            </tr>
            <tr>
                <td><b>Terms:</b> &nbsp;@Model.Customer?.CustomerTerms</td>
                <td class="2-25 text-end"><b>PO No:</b> &nbsp;@Model.CustomerPoNo</td>
            </tr>
        </tbody>
    </table>
</div>

<div style="margin-top: 50px">
    <table class="table table-bordered w-100">
        <thead>
            <tr>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Unit</th>
                <th scope="col">Vat</th>
                <th scope="col">Del Price</th>
                <th scope="col">Total Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">@Model.PurchaseOrder.Product?.ProductName</td>
                <td>@Html.DisplayFor(model => model.Quantity)</td>
                <td>@Model.PurchaseOrder.Product?.ProductUnit</td>
                <td>@Html.DisplayFor(model => model.Vat)</td>
                <td>@Html.DisplayFor(model => model.DeliveredPrice)</td>
                <td>@Html.DisplayFor(model => model.TotalAmount)</td>
            </tr>
        </tbody>
    </table>
</div>

<div style="margin-top:10px;">
    <table class="table table-bordered w-100">
        <tbody>
            <tr>
                <td class="p-4" colspan="6" style="padding-left:20px;">REMARKS : @Html.DisplayFor(model => model.Remarks)</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="text-center w-100" style="margin-top:10px;">
    <p>
        Series: COS0000000001 - COS9999999999<br />
        Date and Time Created:&nbsp; @Model.CreatedDate.ToString("MMM dd, yyyy hh:mm tt")
    </p>
</div>

@if (!Model.IsPrinted)
{
    <div class="text-end">
        ORIGINAL COPY
    </div>
}
else
{
    <div class="text-end">
        REPRINT COPY
    </div>
}

<div class="text-start w-100 footer mt-5">
    <p class="m-0 p-0">
        <em>
            <strong>Software Name :</strong> Integrated Business System (IBS)
            <br />
            <strong>Version :</strong> v1.0.0
            <br />
            <strong>Printed By :</strong> @UserManager.GetUserName(User).ToUpper()
            <br />
            <strong>Date & Time Printed :</strong> @DateTime.Now.ToString("MMM dd, yyyy hh:mm tt")
        </em>
    </p>
</div>

<div class="row pt-2">
    @{
        if (Model.ApprovedBy == null)
        {
            <div class="col-6 col-md-3">
                <a id="approveButton" class="btn btn-primary form-control buttons">Action</a>
            </div>
        }
        else
        {
            <div class="col-6 col-md-3">
                <a asp-area="Filpride" asp-controller="CustomerOrderSlip" asp-action="Print" asp-route-id="@Model.CustomerOrderSlipNo" onclick="window.print()" class="btn btn-primary form-control buttons">Print</a>
            </div>
        }
    }

    <div class="col-6 col-md-3">
        <a asp-area="Filpride" asp-controller="CustomerOrderSlip" asp-action="Index" class="btn btn-outline-primary border form-control buttons">Back to List</a>
    </div>
</div>

@section Scripts {
    <script>
        document.getElementById('approveButton').addEventListener('click', function () {
            Swal.fire({
                title: 'Choose an action',
                text: "Approve or Disapprove the action.",
                icon: 'question',
                showCancelButton: true,
                showDenyButton: true,
                confirmButtonText: 'Approve',
                denyButtonText: 'Disapprove',
                cancelButtonText: 'Cancel'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Approve action
                    window.location.href = '@Url.Action("Approve", "CustomerOrderSlip", new { area = "Filpride", id = Model.CustomerOrderSlipNo })';
                } else if (result.isDenied) {
                    // Disapprove action
                    window.location.href = '@Url.Action("Disapprove", "CustomerOrderSlip", new { area = "Filpride", id = Model.CustomerOrderSlipNo })';
                }
            });
        });
    </script>
}