@model IEnumerable<Company>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Company List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4 table-responsive">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-area="User" asp-controller="Company" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Create New Company
                </a>
            </div>
        </div>

        <table class="table table-bordered table-striped" id="dataTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CompanyCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CompanyName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CompanyAddress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CompanyTin)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.OrderBy(u => u.CompanyCode))
                {
                    <tr>
                        <td>
                            @obj.CompanyCode
                        </td>
                        <td>
                            @obj.CompanyName
                        </td>
                        <td>
                            @obj.CompanyAddress
                        </td>
                        <td>
                            @obj.CompanyTin
                        </td>
                        <td>
                            <div class="w-100 btn-group" role="group">
                                <a asp-area="User" asp-controller="Company" asp-action="Edit" asp-route-id="@obj.CompanyId" class="btn btn-primary mx-2">
                                    <i class="bi bi-pencil-square"></i> Edit
                                </a>
                                @if (obj.IsActive)
                                {
                                    <a asp-area="User" asp-controller="Company" asp-action="Deactivate" asp-route-id="@obj.CompanyId" class="btn btn-danger mx-2">
                                        <i class="bi bi-person-fill-slash"></i> Deactivate
                                    </a>
                                }
                                else
                                {
                                    <a asp-area="User" asp-controller="Company" asp-action="Activate" asp-route-id="@obj.CompanyId" class="btn btn-success mx-2">
                                        <i class="bi bi-person-fill-check"></i> Activate
                                    </a>
                                }

                            </div>
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
</div>