@model ReceivingReportViewModel

@{
    ViewData["Title"] = "Create Receiving Report";
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Create Receiving Report</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="border-2 p-3">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Date" type="date" class="form-control border-0 shadow" placeholder="" value="@DateTime.UtcNow.ToString("yyyy-MM-dd")" />
                    <label asp-for="Date">Date<span class="required">*</span></label>
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group py-2 col-12">
                    <label class="control-label">DR List<span class="required">*</span></label>
                    <select asp-for="DeliveryReceiptId" asp-items="@Model.DrList" class="form-select js-select2 border-0 shadow" style="width:100%">
                        <option value="" selected>Select dr</option>
                    </select>
                    <span asp-validation-for="DeliveryReceiptId" class="text-danger"></span>
                </div>
                @if (ViewBag.stationCode == "ALL")
                {
                    <div class="form-group py-2 col-12">
                        <label class="control-label">Stations List<span class="required">*</span></label>
                        <select asp-for="StationCode" asp-items="@Model.Stations" class="form-select js-select2 border-0 shadow" style="width:100%">
                            <option value="" selected>Select station</option>
                        </select>
                        <span asp-validation-for="StationCode" class="text-danger"></span>
                    </div>
                }
                else
                {
                    <input asp-for="StationCode" value="@ViewBag.stationCode" style="display: none"></input>
                }
                <div class="form-floating py-2 col-12">
                    <input asp-for="Driver" class="form-control border-0 shadow" placeholder="" />
                    <label asp-for="Driver">Driver<span class="required">*</span></label>
                    <span asp-validation-for="Driver" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="PlateNo" class="form-control border-0 shadow" placeholder="" />
                    <label asp-for="PlateNo">Plate No<span class="required">*</span></label>
                    <span asp-validation-for="PlateNo" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Product" class="form-control border-0 shadow" placeholder="" readonly tabindex="-1" />
                    <label asp-for="Product">Product</label>
                    <span asp-validation-for="Product" class="text-danger"></span>
                </div>
                <div class="row py-2">
                    <div class="form-floating col-6">
                        <input asp-for="InvoiceQuantity" class="form-control border-0 shadow" placeholder="" readonly tabindex="-1" />
                        <label asp-for="InvoiceQuantity" class="ms-2">Invoice Quantity</label>
                        <span asp-validation-for="InvoiceQuantity" class="text-danger"></span>
                    </div>
                    <div class="form-floating col-6">
                        <input asp-for="ReceivedQuantity" class="form-control border-0 shadow" placeholder="" />
                        <label asp-for="ReceivedQuantity" class="ms-2">Received Quantity<span class="required">*</span></label>
                        <span asp-validation-for="ReceivedQuantity" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-floating py-2 col-12">
                    <textarea asp-for="Remarks" class="form-control border-0 shadow" placeholder="Indicate the reason of this changes." style="height: 100px"></textarea>
                    <label asp-for="Remarks" class="control-label">Remarks<span class="required">*</span></label>
                    <span asp-validation-for="Remarks" class="text-danger"></span>
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Create</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-area="Mobility" asp-controller="ReceivingReport" asp-action="Index" class="btn btn-outline-primary border  form-control ">Back to List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            $('#DeliveryReceiptId').change(function () {
                var drId = $(this).val();
                if (drId) {
                    $.ajax({
                        url: '@Url.Action("GetDrDetails", "ReceivingReport")',
                        type: 'GET',
                        data: { drId: drId },
                        success: function (data) {
                            $('input[name="InvoiceQuantity"]').val(formatNumber(data.quantity));
                            $('input[name="ReceivedQuantity"]').val(formatNumber(data.quantity));
                            $('input[name="Product"]').val(data.product);
                            // Set other fields as necessary using the data returned
                        },
                        error: function (xhr, status, error) {
                            console.error('Error fetching DR details:', error);
                        }
                    });
                } else {
                    $('input[name="InvoiceQuantity"]').val('');
                    $('input[name="ReceivedQuantity"]').val('');
                    $('input[name="Product"]').val('');
                    // Clear other fields if necessary
                }
            });
        });
    </script>
}