@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@model MobilityReceivingReport

@{
    ViewData["Title"] = "Preview Receiving Report";
}

<div class="container">
    <div class="row">
        <div class="col-12 mb-3">
            <img src="~/img/usa88-logo.png" width="130px" alt="Logo" />
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-end">
            <h6 class="series"><b>No.&nbsp;@Html.DisplayFor(model => model.ReceivingReportNo)</b></h6>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <h3 class="module-name"><b>RECEIVING REPORT</b></h3>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td><b>Date:</b></td>
                        <td>@Html.DisplayFor(model => model.Date)</td>
                    </tr>
                    <tr>
                        <td><b>Driver:</b></td>
                        <td>@Html.DisplayFor(model => model.Driver)</td>
                    </tr>
                    <tr>
                        <td><b>Remarks:</b></td>
                        <td>@Html.DisplayFor(model => model.Remarks)</td>
                    </tr>
                    <tr>
                        <td><b>Invoice#:</b></td>
                        <td>
                            @if (Model.FilprideDeliveryReceipt.InvoiceNo != Model.FilprideDeliveryReceipt.DeliveryReceiptNo)
                            {
                                @Html.DisplayFor(model => model.FilprideDeliveryReceipt.DeliveryReceiptNo)
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td><b>Supplier:</b></td>
                        <td style="position:relative;left:40px">Filpride</td>
                    </tr>
                    <tr>
                        <td><b>Plate No:</b></td>
                        <td style="position:relative;left:40px">@Html.DisplayFor(model => model.PlateNo)</td>
                    </tr>
                    <tr>
                        <td><b>DR#:</b></td>
                        <td style="position:relative;left:40px">@Html.DisplayFor(model => model.FilprideDeliveryReceipt.DeliveryReceiptNo)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>PRODUCT</th>
                        <th>RECEIVED QTY</th>
                        <th>INVOICE QTY</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Html.DisplayFor(model => model.FilprideDeliveryReceipt.CustomerOrderSlip.PurchaseOrder.Product.ProductName)</td>
                        <td>@Html.DisplayFor(model => model.ReceivedQuantity)</td>
                        <td>@Html.DisplayFor(model => model.FilprideDeliveryReceipt.Quantity)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <div class="signature text-center">
                <p><b>Received by:</b></p>
                <p>____________________</p>
                <p><b>Noted by: OPERATION OFFICER</b></p>
            </div>
        </div>
    </div>
</div>

<div class="row pt-2">
    @{
        if (Model.PostedBy == null)
        {
            <div class="col-6 col-md-3">
                <a id="approveButton" class="btn btn-primary form-control buttons">Approve</a>
            </div>
        }
        else
        {
            <div class="col-6 col-md-3">
                <a onclick="window.print()" class="btn btn-primary form-control buttons">Print</a>
            </div>
        }
    }

    <div class="col-6 col-md-3">
        <a asp-area="Mobility" asp-controller="ReceivingReport" asp-action="Index" class="btn btn-outline-primary border form-control buttons">Back to List</a>
    </div>
</div>

@section Scripts {
    <script>
        document.getElementById('approveButton').addEventListener('click', function () {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, approve it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Proceed to the controller action
                    window.location.href = '@Url.Action("Post", "ReceivingReport", new { area = "Mobility", id = Model.ReceivingReportNo })';
                }
            });
        });
    </script>
}