@using IBS.Utility
@model FilprideSalesInvoice

@{
    ViewData["Title"] = "Create Sales Invoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var firstDayOfMonth = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1).ToString("yyyy-MM-dd");
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Create Sales Invoice</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">

                <div class="row">

                    <div class="form-group mb-3">
                        <label class="control-label">Type<span class="required">*</span></label>
                        <select asp-for="Type" class="form-select js-select2 border-0 shadow" style="width:100%; max-height: 200px;">
                            <option value="" selected disabled>Select SI type</option>
                            @foreach (DocumentType salesInvoiceType in Enum.GetValues<DocumentType>())
                            {
                                <option value="@salesInvoiceType">@salesInvoiceType.ToString()</option>
                            }
                        </select>
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>

                    <div class="col">
                        <div class="form-group mb-3">
                            <label class="control-label">Customer Name<span class="required">*</span></label>
                            <select asp-for="CustomerId" asp-items="@Model.Customers" class="form-control js-select2" style="width:100%">
                                <option></option>
                            </select>
                            <span asp-validation-for="CustomerId" class="text-danger"></span>
                        </div>

                        <input type="hidden" id="soldTo" class="form-control" readonly />

                        <div class="form-group mb-3">
                            <label class="control-label">Tin No</label>
                            <input id="tinNo" class="form-control" readonly />
                        </div>

                        <div class="form-group mb-3">
                            <label class="control-label">Customer Type</label>
                            <input id="customerType" class="form-control" readonly />
                        </div>

                        <div class="form-group mb-3">
                            <label class="control-label">Address</label>
                            <input id="address" class="form-control" readonly />
                        </div>

                        <div class="form-group mb-3">
                            <label class="control-label">Business Style</label>
                            <input id="businessStyle" class="form-control" readonly />
                        </div>

                        <div class="form-group mb-3">
                            <label class="control-label">Terms</label>
                            <input id="terms" class="form-control" readonly />
                        </div>
                    </div>

                    <div class="col">

                        <input type="hidden" asp-for="ProductId" />
                        <div class="form-group mb-3">
                            <label class="control-label">Product Name</label>
                            <input id="productName" class="form-control" readonly />
                        </div>

                        <div class="form-group mb-3">
                            <label class="control-label">Unit</label>
                            <input id="productUnit" class="form-control" readonly />
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="Quantity" class="control-label">Quantity</label>
                            <input asp-for="Quantity" class="form-control money" value="" placeholder="0.0000" readonly tabindex="-1" />
                            <span asp-validation-for="Quantity" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="UnitPrice" class="control-label"></label>
                            <input asp-for="UnitPrice" class="form-control money" value="" placeholder="0.0000" readonly tabindex="-1" />
                            <span asp-validation-for="UnitPrice" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="Discount" class="control-label"></label>
                            <input asp-for="Discount" class="form-control moneyInput" />
                            <span asp-validation-for="Discount" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group mb-3">
                            <label asp-for="TransactionDate" class="control-label">Transaction Date<span class="required">*</span></label>
                            <input type="date" asp-for="TransactionDate" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" min="@firstDayOfMonth" />
                            <span asp-validation-for="TransactionDate" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="CustomerOrderSlipId" class="control-label">COS No.<span class="required">*</span></label>
                            <select asp-for="CustomerOrderSlipId" class="form-control js-select2 GetRRList" asp-items="@Model.COS" style="width:100%" required>
                                <option></option>
                            </select>
                            <span asp-validation-for="CustomerOrderSlipId" class="text-danger"></span>
                        </div>
                        <input type="hidden" asp-for="PurchaseOrderId" />
                        <input type="hidden" asp-for="ReceivingReportId" />
                        <div class="form-group mb-3">
                            <label asp-for="DeliveryReceiptId" class="control-label">DR No<span class="required">*</span></label>
                            <select asp-for="DeliveryReceiptId" class="form-control js-select2" asp-items="@Model.DR" style="width:100%" required>
                                <option></option>
                            </select>
                            <span asp-validation-for="DeliveryReceiptId" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="OtherRefNo" class="form-control" placeholder="Optional" readonly tabindex="-1" />
                            <label asp-for="OtherRefNo" class="control-label">Other Ref No.</label>
                            <span asp-validation-for="OtherRefNo" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-floating mb-3">
                <textarea asp-for="Remarks" class="form-control" placeholder="Leave a remarks here" style="height: 100px"></textarea>
                <label asp-for="Remarks" class="control-label">Remarks<span class="required">*</span></label>
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>

            <div class="row pt-2">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-primary form-control">Create</button>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-area="Filpride" asp-controller="SalesInvoice" asp-action="Index" class="btn btn-outline-primary border  form-control ">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(function () {
            // When Customer is selected
            $("#CustomerId").change(function () {
                var customerId = $(this).val();
                if (customerId !== "") {
                    $.ajax({
                        url: '@Url.Action("GetCustomerDetails", "SalesInvoice", new { area = "Filpride" })',
                        method: "GET",
                        data: { customerId: customerId },
                        success: function (data) {
                            if (data) {
                                $("#soldTo").val(data.soldTo);
                                $("#address").val(data.address);
                                $("#tinNo").val(data.tinNo);
                                $("#businessStyle").val(data.businessStyle);
                                $("#terms").val(data.terms);
                                $("#customerType").val(data.customerType);

                                // Populate COS dropdown
                                var cosSelect = $("#CustomerOrderSlipId");
                                cosSelect.empty();
                                $.each(data.cosList, function (index, cos) {
                                    cosSelect.append($('<option>', {
                                        value: cos.value,
                                        text: cos.text
                                    }));
                                });

                                // Trigger product selection
                                cosSelect.trigger("change");
                            }
                        }
                    });
                }
            });

            // When COS is selected
            $("#CustomerOrderSlipId").change(function () {
                var cosId = $(this).val();
                if (cosId !== "") {
                    $.ajax({
                        url: '@Url.Action("GetProductAndDRDetails", "SalesInvoice", new { area = "Filpride" })',
                        method: "GET",
                        data: { cosId: cosId },
                        success: function (data) {
                            if (data) {
                                // Set the Product
                                $("#ProductId").val(data.productId);
                                $("#productName").val(data.productName);
                                $("#productUnit").val(data.productUnit);
                                $("#UnitPrice").val(data.deliveredPrice);
                                // Populate DR dropdown
                                var drSelect = $("#DeliveryReceiptId");
                                drSelect.empty();
                                $.each(data.drList, function (index, dr) {
                                    drSelect.append($('<option>', {
                                        value: dr.value,
                                        text: dr.text
                                    }));
                                });

                                // Trigger DR selection
                                drSelect.trigger("change");
                            }
                        }
                    });
                }
            });

            // When DR is selected
            $("#DeliveryReceiptId").change(function () {
                var drId = $(this).val();
                if (drId !== "") {
                    $.ajax({
                        url: '@Url.Action("GetDrDetails", "SalesInvoice", new { area = "Filpride" })',
                        method: "GET",
                        data: { drId: drId },
                        success: function (data) {
                            if (data) {
                                // Set the Transaction Date
                                $("#TransactionDate").val(data.transactionDate);
                                $("#Quantity").val(data.quantity);
                                $("#ReceivingReportId").val(data.receivingReportId);
                                $("#PurchaseOrderId").val(data.purchaseOrderId);
                                $("#OtherRefNo").val(data.otherRefNo);
                                $("#Remarks").val(data.remarks);
                            }
                        }
                    });
                }
            });
        });
    </script>

}