@model MMSICollection

@{
    ViewData["Title"] = "Create";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="loader-container" style="display: none;">
    <div class="loader"></div>
    <div class="loader-text">Importing...</div>
</div>

<div class="card shadow mt-4">

    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="col-12 text-center text-white">
            <h2 class="py-2"> PREVIEW COLLECTION</h2>
        </div>
    </div>

    <div class="card-body table-responsive">
        <div class="row mb-2 justify-content-end">
            <div class="col-12 d-flex justify-content-end">
                <h2><strong>COLLECTION DETAILS</strong></h2>
            </div>
        </div>

        <div class="row px-3">
            <div class="col-6 d-flex flex-column justify-content-end">
                <table class="table table-borderless table-sm align-middle m-0">
                    <tbody>
                    <tr>
                        <td class="text-start"><b>Create Date: </b> @Model.Date</td>
                        <td class="text-start"><b>Collection No. </b> @Model.MMSICollectionNumber</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <div class="row px-2">
            <div class="col">
                <table class="table table-bordered table-sm align-middle">
                    <tbody>
                        <tr>
                            <td class="text-start p-2"><b>Bank: </b> MBTC</td>
                            <td class="text-start p-2"><b>Account Number: </b> 167-7-16753668-5</td>
                            <td class="text-start p-2"><b>Account Name: </b> MALAYAN MARITIME SERVICES INC.</td>
                        </tr>
                        <tr>
                            <td class="text-start p-2"><b>Check Number: </b> @Model.CheckNumber</td>
                            <td class="text-start p-2"><b>Check Date: </b> @Model.CheckDate</td>
                            <td class="text-start p-2"><b>Date Deposited: </b> @Model.DepositDate</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row mx-2">
            <div class="col-8 text-start p-2 small-text">
                <table class="table table-striped table-hover table-bordered table-sm align-middle">
                    <thead class="table-primary">
                    <tr>
                        <th scope="col" class="text-center p-2">Billing Number</th>
                        <th scope="col" class="text-center p-2">Date</th>
                        <th scope="col" class="text-center p-2">Customer</th>
                        <th scope="col" class="text-center p-2">Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var billing in Model.PaidBills)
                    {
                        <tr>
                            <td class="text-center p-1">
                                <a href="@Url.Action("Preview", "Billing", new { id = billing.MMSIBillingId })" class="text-decoration-none">@billing.MMSIBillingNumber</a>
                            </td>
                            <td class="text-center p-1">@billing.Date</td>
                            <td class="text-center p-1">@billing.Customer?.CustomerName</td>
                            <td class="text-center p-1">₱ @billing.Amount.ToString("N2")</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            <div class="col-4 text-start small-text">
                <div class="row h-75">
                    <div class="col-12 text-center flex-column d-flex justify-content-end small-text py-2 ps-2">
                        <div class="row">
                            <div class="col-6 text-end"><b>Collection Amount:</b></div>
                            <div class="col-6 text-start">₱ @Model.Amount.ToString("N2")</div>
                        </div>
                        <div class="row">
                            <div class="col-6 text-end"><b>EWT:</b></div>
                            <div class="col-6 text-start">₱ @Model.EWT.ToString("N2")</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-end justify-content-end mt-3">
            <div class="d-flex me-3" style="width: 250px">
                <a class="btn btn-outline-primary border custom2-btn col-12" asp-controller="Collection" asp-action="Index">
                    <i class="bi bi-arrow-90deg-left"></i> Go Back
                </a>
            </div>
        </div>
    </div>
</div>

@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}