@model IBS.Models.MMSI.MMSIDispatchTicket

@{
    ViewData["Title"] = "Tariffing";
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    @@media (max-width: 768px) {

        label {
            font-size: .8em !important
        }

        input {
            font-size: .9em !important;
        }
    }
    
    .container {
        max-width: 100% !important;
        width: 100% !important;
    }

    .card-body {
        margin: 5px !important;
        padding: 5px !important;
    }
</style>

<div class="card text-dark bg-white  m-4">

    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="col-12 text-center">
            <h2 class="text-white py-2"><i class="bi bi-cash-coin"></i> SET TARIFF</h2>
        </div>
    </div>
    
    <div class="card-body">
        <div class="p-2">
            <div class="row">
                <div class="col-8 d-flex flex-column justify-content-end">
                    <div class="row d-flex align-content-center text-center mb-1">   
                        <div class="col-3">
                            <div class="col-12 text-start small-text">
                                <span><b>Create Date:</b> @Model.CreateDate</span>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="col-12 text-start small-text">
                                <span><b>Dispatch Ticket#:</b> @Model.DispatchNumber</span>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="col-12 text-start small-text">
                                <span><b>Total Hours:</b> @Model.TotalHours?.ToString("N2")</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row mb-2 justify-content-end">
                        <div class="col-12 d-flex justify-content-end pe-3">
                            <h2><strong>DISPATCH TICKET DETAILS</strong></h2>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row border">
                <div class="col-3 text-start p-2 small-text border">
                    <b>Voyage:</b> <br /> @Model.VoyageNumber
                </div>
                <div class="col-3 text-start p-2 small-text border">
                    <b>Activity/Service Type:</b> @Model.ActivityService.ActivityServiceName
                </div>
                <div class="col-3 text-start p-2 small-text border">
                    <b>Date / Time Start:</b> @Model.DateLeft @Model.TimeLeft
                </div>
                <div class="col-3 text-start p-2 small-text border">
                    <b>Date / Time End:</b> @Model.DateArrived @Model.TimeArrived
                </div>
            </div>
            
            <div class="row border">
                <div class="col-3 text-start p-2 small-text border">
                    <b>Tug Master:</b> @Model.TugMaster?.TugMasterName
                </div>
                <div class="col-3 text-start p-2 small-text border">
                    <b>Tugboat:</b> @Model.Tugboat?.TugboatName
                </div>
                <div class="col-3 text-start p-2 small-text border">
                    <b>Vessel:</b> @Model.Vessel.VesselName
                </div>
                <div class="col-3 text-start p-2 small-text border">
                    <b>Port-Terminal:</b> @Model.Terminal?.Port?.PortName-@Model.Terminal?.TerminalName
                </div>
            </div>
            
            <div class="row small-text border">
                <div class="col-12 p-2 text-start small-text border">
                    <b>Remarks:</b> @Model.Remarks
                </div>
            </div>
            
        </div>
    </div>
    <div class="card-body">
        <form id="myForm" method="post" class="row">
            <div class="border-2 px-3">
                <div asp-validation-summary="ModelOnly"></div>

                <input asp-for="DispatchTicketId" value="@Model.DispatchTicketId" id="DispatchTicketId" type="hidden">

                <div class="row d-flex justify-content-end">
                    <div class="form-group col-3 my-2 me-3 text-end">
                        <h2 class="mb-0"><strong>TARIFF DETAILS</strong></h2>
                    </div>
                </div>

                <div class="row">
                    <!-- Left Section -->
                    <div class="col-6 align-content-center">
                        <div class="row mt-3">
                            <div class="col-6 text-start">
                                <b><i>Dispatch charge Type</i></b>
                            </div>
                            <div class="col-6 text-start">
                                <b><i>Total Hours:</i></b> @(Model.TotalHours?.ToString("N2"))
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="col text-start">
                                <label class="mx-1">
                                    <input name="chargeType" type="radio" value="Per hour" required @(Model.DispatchChargeType == null ? "checked" : "") @(Model.DispatchChargeType == "Per hour" ? "checked" : "") /> Per Hour
                                </label>
                                <label class="mx-1">
                                    <input name="chargeType" type="radio" value="Per move" required @(Model.DispatchChargeType == "Per move" ? "checked" : "") /> Per Move
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- Right Section -->
                    <div class="col-6 align-content-center">
                        <div class="row">
                            <div class="col-6 mt-3 text-start">
                                <div class="row">
                                    <div class="col-12">
                                        <b><i>BAF charge Type</i></b>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-start">
                                        <label class="mx-1">
                                            <input name="chargeType2" type="radio" value="Per hour" required @(Model.BAFChargeType == null ? "checked" : "") @(Model.BAFChargeType == "Per hour" ? "checked" : "") /> Per Hour
                                        </label>
                                        <label class="mx-1">
                                            <input name="chargeType2" type="radio" value="Per move" required @(Model.BAFChargeType == "Per move" ? "checked" : "") /> Per Move
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 text-start">
                                <div class="row">
                                    <div class="col-12">
                                        <label class="control-label ps-1 pb-1">Customer<span class="required text-danger">*</span></label>
                                        <select asp-for="CustomerId" id="CustomerId" asp-items="@Model.Customers" class="form-select js-select2 border-0 shadow ms-5 mt-4" style="width:100%" required>
                                            <option value="">Select Customer</option>
                                        </select>
                                        <span asp-validation-for="CustomerId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row pt-1">
                    <div class="form-floating col-3 mb-3">
                        <input asp-for="DispatchRate" type="number" class="form-control border-0 shadow" id="DispatchRate" placeholder=" " min="0" required>
                        <label asp-for="DispatchRate" for="DispatchRate" class="ms-2">Dispatch Rate<span class="required text-danger">*</span></label>
                        <span asp-validation-for="DispatchRate" class="text-danger"></span>
                    </div>
                    <div class="form-floating col-3 mb-3">
                        <input asp-for="DispatchDiscount" value="0" type="number" class="form-control border-0 shadow" id="DispatchDiscount" placeholder=" " min="0" max="100" required>
                        <label asp-for="DispatchDiscount" for="DispatchDiscount" class="ms-2">Dispatch Discount(%)</label>
                        <span asp-validation-for="DispatchDiscount" class="text-danger"></span>
                    </div>
                    <div class="form-floating col-3 mb-3">
                        <input asp-for="BAFRate" type="number" class="form-control border-0 shadow" id="BAFRate" placeholder=" " min="0" required>
                        <label asp-for="BAFRate" for="BAFRate" class="ms-2">BAF Rate<span class="required text-danger">*</span></label>
                        <span asp-validation-for="BAFRate" class="text-danger"></span>
                    </div>
                    <div class="form-floating col-3 mb-3">
                        <input asp-for="BAFDiscount" value="0" type="number" class="form-control border-0 shadow" id="BAFDiscount" placeholder=" " min="0" max="100" required>
                        <label asp-for="BAFDiscount" for="BAFDiscount" class="ms-2">BAF Discount(%)</label>
                        <span asp-validation-for="BAFDiscount" class="text-danger"></span>
                    </div>
                </div>
                <div class="row pt-1">
                    <div class="form-floating col-3 mb-3">
                        <input asp-for="DispatchBillingAmount" class="form-control border-0 shadow" placeholder="" id="DispatchBillingAmount" readonly />
                        <label asp-for="DispatchBillingAmount" for="DispatchBillingAmount" class="ms-2">Dispatch Billing</label>
                        <span asp-validation-for="DispatchBillingAmount" class="text-danger"></span>
                    </div>
                    <div class="form-floating col-3 mb-3">
                        <input asp-for="DispatchNetRevenue" class="form-control border-0 shadow" placeholder="" id="DispatchNetRevenue" readonly />
                        <label asp-for="DispatchNetRevenue" for="DispatchNetRevenue" class="ms-2">Dispatch Net Revenue</label>
                        <span asp-validation-for="DispatchNetRevenue" class="text-danger"></span>
                    </div>
                    <div class="form-floating col-3 mb-3">
                        <input asp-for="BAFBillingAmount" class="form-control border-0 shadow" placeholder="" id="BAFBillingAmount" readonly />
                        <label asp-for="BAFBillingAmount" for="BAFBillingAmount" class="ms-2">BAF Billing</label>
                        <span asp-validation-for="BAFBillingAmount" class="text-danger"></span>
                    </div>
                    <div class="form-floating col-3 mb-3">
                        <input asp-for="BAFNetRevenue" class="form-control border-0 shadow" placeholder="" id="BAFNetRevenue" readonly />
                        <label asp-for="BAFNetRevenue" for="BAFNetRevenue" class="ms-2">BAF Net Revenue</label>
                        <span asp-validation-for="BAFNetRevenue" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12">
                    <hr />
                </div>
                
                <div class="row mt-2 pt-2">
                    <div class="form-floating col-3 mb-3">
                        <input asp-for="TotalBilling" class="form-control border-0 shadow" placeholder="" id="TotalBilling" readonly />
                        <label asp-for="TotalBilling" for="TotalBilling" class="ms-2">Total Billing</label>
                        <span asp-validation-for="TotalBilling" class="text-danger"></span>
                    </div>

                    <div class="form-floating col-3 mb-3">
                        <input asp-for="TotalNetRevenue" class="form-control border-0 shadow" placeholder="" id="TotalNetRevenue" readonly />
                        <label asp-for="TotalNetRevenue" for="TotalNetRevenue" class="ms-2">Total Net Revenue</label>
                        <span asp-validation-for="TotalNetRevenue" class="text-danger"></span>
                    </div>

                    <div class="row col-6 justify-content-end mt-4 mb-2">
                        <div class="text-center" style="width: 250px;">
                            <button class="btn btn-primary col-12 align-content-center selected-options" type="submit" id="submitButton"><i class="bi bi-pencil-square"></i> Submit</button>
                        </div>
                        <div class="text-center" style="width: 250px;">
                            <a class="btn btn-outline-primary col-12 align-content-center selected-options" asp-controller="DispatchTicket" asp-action="Index">
                                <i class="bi bi-arrow-90deg-left"></i> Go Back
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>

        $(document).ready(function () {

            function ValueChange() 
            {
                @* Get if per hour or per move *@
                var selectedValue = $('input[name="chargeType"]:checked').val();
                var selectedValue2 = $('input[name="chargeType2"]:checked').val();
                
                @* Get Dispatch/BAF Rate and Discount Value *@
                var dispatchRate = parseFloat($('input[name="DispatchRate"]').val()) || 0;
                var dispatchDiscountPercent = parseFloat($('input[name="DispatchDiscount"]').val()) || 0;
                var dispatchDiscountAmount = dispatchRate * ((dispatchDiscountPercent || 0) / 100);

                var bafRate = parseFloat($('input[name="BAFRate"]').val()) || 0;
                var bafDiscountPercent = parseFloat($('input[name="BAFDiscount"]').val()) || 0;
                var bafDiscountAmount = bafRate * ((bafDiscountPercent || 0) / 100);

                @* Calculate, format, then show Dispatch/BAF Rate *@
                var dispatchRevenue = 0;
                var dispatchBilling = 0;
                var bafRevenue = 0;
                var bafBilling = 0;

                if (selectedValue === "Per hour") {
                    dispatchRevenue = (dispatchRate * @Model.TotalHours) - (dispatchDiscountAmount * @Model.TotalHours);
                    dispatchBilling = dispatchRate * @Model.TotalHours;
                }
                if (selectedValue === "Per move") {
                    dispatchRevenue = dispatchRate - dispatchDiscountAmount;
                    dispatchBilling = dispatchRate;
                }

                if (selectedValue2 === "Per hour") {
                    bafRevenue = (bafRate * @Model.TotalHours) - (bafDiscountAmount * @Model.TotalHours);
                    bafBilling = bafRate * @Model.TotalHours;
                }
                if (selectedValue2 === "Per move") {
                    bafRevenue = bafRate - bafDiscountAmount;
                    bafBilling = bafRate;
                }

                var dispatchRevenueFormatted = dispatchRevenue.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 });
                var dispatchBillingFormatted = dispatchBilling.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 });

                var bafRevenueFormatted = bafRevenue.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 });
                var bafBillingFormatted = bafBilling.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 });

                $('input[name="DispatchBillingAmount"]').val(dispatchBillingFormatted);
                $('input[name="BAFBillingAmount"]').val(bafBillingFormatted);
                $('input[name="DispatchNetRevenue"]').val(dispatchRevenueFormatted);
                $('input[name="BAFNetRevenue"]').val(bafRevenueFormatted);
                
                @* Calculate, Parse, Format, and Display Total Billings/ Revenue *@
                var totalBilling = dispatchBilling + bafRate;
                var formattedTotalBilling = totalBilling.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 });
                $('input[name="TotalBilling"]').val(formattedTotalBilling);

                var totalRevenue = dispatchRevenue + bafRevenue;
                var formattedTotalRevenue = totalRevenue.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 });
                $('input[name="TotalNetRevenue"]').val(formattedTotalRevenue);
            }
            
            function CustomerChange() {
                let customerId = $("#CustomerId").val();
                let dispatchTicketId = $("#DispatchTicketId").val();
                
                $.ajax({
                    url: '/MMSI/DispatchTicket/CheckForTariffRate/',
                    type: 'POST',
                    data: { customerId : customerId, dispatchTicketId : dispatchTicketId },
                    success: function(result) {
                        console.log(result);
                        if (result.exists){
                            $("#DispatchRate").val(result.dispatch);
                            $("#BAFRate").val(result.baf);

                            Swal.fire({
                                position: "center",
                                icon: "success",
                                title: "Rate applied:",
                                html: `<strong>Dispatch:</strong> ₱${result.dispatch}<br><strong>BAF:</strong> ₱${result.baf}`,
                                showConfirmButton: false,
                                timer: 3000
                            });
                            ValueChange();
                        }
                        else
                        {
                            $("#DispatchRate").val(null);
                            $("#BAFRate").val(null);
                            ValueChange();
                        }
                        
                    },
                    error: function(xhr, status, error) {
                        console.error('Error:', error);
                    }
                });
            }

            $('input[name="DispatchRate"]').on('input', function () 
            { ValueChange(); });

            $('input[name="BAFRate"]').on('input', function () 
            { ValueChange(); });

            $('input[name="DispatchDiscount"]').on('input', function () 
            { ValueChange(); });

            $('input[name="BAFDiscount"]').on('input', function () 
            { ValueChange(); });

            $("#CustomerId").on('change', function () 
            { CustomerChange(); });

            $(document).on('change', 'input[name="chargeType"]', ValueChange);
            $(document).on('change', 'input[name="chargeType2"]', ValueChange);

            document.getElementById('viewUpload')?.addEventListener('click', function () {
                var maxHeight = window.innerHeight * 0.8;

                Swal.fire({
                    imageUrl: '@Url.Content("~/Dispatch_Ticket_Uploads/" + Model.UploadName)',
                    imageAlt: "Custom image",
                    showConfirmButton: false,
                    background: 'transparent',
                    customClass: {
                        popup: 'custom-image-popup' // Unique class for this modal
                    },
                    padding: 0,
                    width: 'auto',
                    heightAuto: true,
                    didOpen: () => {
                        $('.swal2-image').css('max-height', maxHeight + 'px');
                        $('.swal2-image').css('height', 'auto');
                    }
                });
            });

            ValueChange();
        });

    </script>
}