@model IBS.Models.MMSI.MMSIBilling

@{
    ViewData["Title"] = "Preview";
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    @@media print {
        .print-bottom {
            position: absolute;
            bottom: 0;
        }
        .print-bottom2 {
            position: absolute;
            bottom: 12%;
        }
    }
</style>

<div class="container mt-4">

    <div class="row">
        <div class="col-8">
            <div class="text-start mb-4">
                <h3 class="m-0"><u><b>MALAYAN MARITIME SERVICES INC.</b></u></h3>
                <p>
                    14th Floor Jollibee Centre, San Miguel Ave., Pasig City<br/>
                    Phone No: 633-4302 * 633-9472 * 634-4904<br/>
                    Mobile No: +639178202692
                </p>
            </div>
        </div>
        <div class="col-4">
            <div class="text-end">
                <img src="~/img/mmsi-logo.jpg" width="80px"/>
            </div>
            <div class="text-end pt-3">
                <h3><b>BILLING STATEMENT</b></h3>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-borderless">
            <tbody>
            <tr>
                <h6 class="text-end"><b class="text-danger">BILL #:&nbsp;@Html.DisplayFor(model => model.MMSIBillingNumber)</b></h6>
            </tr>
            <tr>
                <td class="col-1 p-0 m-0"><b>BILLED TO:</b></td>
                <td class="col-4 p-0 m-0">@Model.Customer?.CustomerName</td>
                <td class="col-1 p-0 m-0"></td>
                <td class="col-2 p-0 m-0"><b>DATE:</b></td>
                <td class="col-5 p-0 m-0">@Model.Date</td>
            </tr>
            <tr>
                <td class="col-1 p-0 m-0"><b>ADDRESS:</b></td>
                <td class="col-4 p-0 m-0" rowspan="3">@Model.Customer?.CustomerAddress</td>
                <td class="col-1 p-0 m-0"></td>
                <td class="col-2 p-0 m-0"><b>TIN:</b></td>
                <td class="col-5 p-0 m-0">@Model.Customer.CustomerTIN</td>
            </tr>
            <tr>
                <td class="col-1 p-0 m-0"></td>
                @* empty*@
                <td class="col-1 p-0 m-0"></td>
                <td class="col-2 p-0 m-0"><b>BUSINESS STYLE:</b></td>
                <td class="col-5 p-0 m-0">@Model.Customer.CustomerBusinessStyle</td>
            </tr>
            <tr>
                <td class="col-1 p-0 m-0"></td>
                @* empty*@
                <td class="col-1 p-0 m-0"></td>
                <td class="col-2 p-0 m-0"><b>TERMS:</b></td>
                <td class="col-5 p-0 m-0">@Model.Customer.CustomerTerms</td>
            </tr>
            </tbody>
        </table>
    </div>
    
    <div class="table-responsive">
        <table class="table table-borderless">
            <thead>
            <tr class="border">
                <th class="text-center" colspan="4">
                    PARTICULARS
                </th>
            </tr>
            </thead>
            <tr>
                <td class="p-0 pt-2 c-0">
                    FOR THE SERVICE RE: 
                </td>
                <td class="border-bottom p-0 pt-2 c-0">
                    @Model.Vessel?.VesselName
                </td>
                <td class="border-bottom p-0 pt-2 c-0">
                    VOYAGE #: @Model.VoyageNumber
                </td>
            </tr>
            <tr>
                <td>
                    
                </td>
                <td class="border-bottom p-0 pt-1 c-0">
                    AT @Model.Terminal?.Port?.PortName
                </td>
            </tr>
        </table>
    </div>

    <div class="table-responsive">
        <table class="table table-borderless">
            <thead>
            <tr>
                <th colspan="8">DISPATCH TICKETS BILLED: </th>
            </tr>
            <tr>
                <th class="text-center border">DISPATCH #</th>
                <th class="text-center border">SERVICE TYPE</th>
                <th class="text-center border">DATE</th>
                <th class="text-center border">TIME START</th>
                <th class="text-center border">TIME END</th>
                <th class="text-center border">TOTAL HOURS</th>
                <th class="text-center border">DISPATCH RATE</th>
                <th class="text-center border">BAF RATE</th>
                <th class="text-center border">AMOUNT</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var dt in @Model.PaidDispatchTickets)
            {
                <tr class="">
                    <td colspan="8" class="p-0 m-0 pt-4">TUGBOAT: @dt.Tugboat.TugboatName</td>
                </tr>
                <tr class="pb-2">
                    <td class="text-center p-0">@dt.DispatchNumber</td>
                    <td class="text-center p-0">@dt.ActivityService.ActivityServiceName</td>
                    <td class="text-center p-0">@dt.CreateDate</td>
                    <td class="text-center p-0">@dt.DateLeft @dt.TimeLeft</td>
                    <td class="text-center p-0">@dt.DateArrived @dt.TimeArrived</td>
                    <td class="text-center p-0">@dt.TotalHours hrs.</td>
                    <td class="text-end p-0">₱@dt.DispatchRate?.ToString("N2") @dt.DispatchChargeType</td>
                    <td class="text-end p-0">₱@dt.BAFRate?.ToString("N2") @dt.BAFChargeType</td>
                    <td class="text-end p-0">₱@dt.TotalBilling?.ToString("N2")</td>
                </tr>
            }
            <tr>
                <td colspan="8" class="pt-4 text-center"> ---------- NOTHING FOLLOWS ---------- </td>
            </tr>
            </tbody>
        </table>
    </div>
    
    <div class="p-3 border-top border-bottom border-dark print-bottom2">
        <div class="row">
            <div class="col-7">
                <table>
                    <thead>
                    <tr>
                        <th>
                            Terms and Conditions:
                        </th>
                    </tr>
                    </thead>
                    <tr>
                        <td class="border p-1 m-1">
                            Interest at the rate of 38% per annim will be charge on all overdue accounts and in the event of
                            judicial proceedings to enforce collections, the Customer will pay a reasonable compensation not less than
                            25% ofthe amount due of the Attorney's fees and expense of collection in addition to the costs of suit. Any
                            action arising out of the transaction covered by billing statement shall be brought in the appropriate courts
                            of Pasig City and/or Metro Manila.
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-5">
                <table class="table-borderless col-12">
                    <tr class="row">
                        <td class="col-6">
                            VATABLE SALES:
                        </td>
                        <td class="col-6 text-end border-bottom border-dark">
                            <b>₱@Model.Amount.ToString("N2")</b>
                        </td>
                    </tr>
                    <tr class="row mt-1">
                        <td class="col-6">
                            VAT - EXEMPT SALES
                        </td>
                        <td class="col-6 text-end border-bottom border-dark">
                            
                        </td>
                    </tr>
                    <tr class="row mt-1">
                        <td class="col-6">
                            ZERO RATED SALES
                        </td>
                        <td class="col-6 text-end border-bottom border-dark">
                            
                        </td>
                    </tr>
                    <tr class="row mt-1">
                        <td class="col-6">
                            TOTAL SALES
                        </td>
                        <td class="col-6 text-end border-bottom border-dark">
                            
                        </td>
                    </tr>
                    <tr class="row mt-1">
                        <td class="col-6">
                            12% VAT
                        </td>
                        <td class="col-6 text-end border-bottom border-dark">
                            
                        </td>
                    </tr>
                    <tr class="row mt-1">
                        <td class="col-6">
                            <b>TOTAL AMOUNT DUE:</b>
                        </td>
                        <td class="col-6 text-end border-bottom border-dark">
                            <div class="row border-bottom border-dark">
                                <div class="col-12">
                                    <b> ₱@Model.Amount.ToString("N2")</b>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    
    <div class="row pt-3 print-bottom">
        <div class="col-8">
            <table>
                <tr>
                    <td>
                        We hereby certify that this Billing Statement is correct and Just 
                        and the payment thereof has not been received.
                    </td>
                </tr>
                <tr>
                    <th class="pt-3">MALAYAN MARITIME SERVICES INC.</th>
                </tr>
                <tr>
                    <td class="pt-3">
                        BY:___________________________________
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row pt-3 justify-content-end d-flex">
        <div class="col-6 col-md-3">
            <a onclick="window.print()" class="btn btn-primary form-control buttons">Print</a>
        </div>

        <div class="col-6 col-md-3">
            <a asp-area="MMSI" asp-controller="Billing" asp-action="Index" class="btn btn-outline-primary border form-control buttons">Back to List</a>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {

            table = $('#dataTable').DataTable();

            table.destroy();

            table = $('#dataTable').DataTable({
                paging: false,
                info: false,
                order: [[0, 'asc']],
                lengthChange: false,
                searching: false
            });

        });
    </script>
}