@model IEnumerable<FilprideDebitMemo>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Debit Memo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">DEBIT MEMO</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4 table-responsive">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-area="Filpride" asp-controller="DebitMemo" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Create New
                </a>
            </div>
        </div>
        <table class="table table-bordered table-striped" id="dataTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DebitMemoNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TransactionDate)
                    </th>
                    <th>
                        Invoice No.
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Source)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DebitAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedBy)
                    </th>
                    <th>
                        Status
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DebitMemoNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TransactionDate)
                        </td>
                        @if (item.Source == "Sales Invoice")
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.SalesInvoice.SalesInvoiceNo)
                            </td>
                        }
                        else
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.ServiceInvoice.ServiceInvoiceNo)
                            </td>
                        }
                        <td>
                            @Html.DisplayFor(modelItem => item.Source)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DebitAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedBy)
                        </td>
                        <td>
                            @{
                                var status = item.PostedBy != null && item.VoidedBy == null && item.CanceledBy == null
                                    ? "Posted"
                                    : item.VoidedBy != null
                                        ? "Voided"
                                        : item.CanceledBy != null
                                            ? "Cancelled"
                                            : "Pending";
                            }
                            <span class="badge rounded-pill @if(status == "Posted") {<text>bg-info</text>} else if(status == "Voided") {<text>bg-danger</text>} else if(status == "Cancelled") {<text>bg-warning</text>}">@status</span>
                        </td>
                        <td class="text-center">
                            <div class="dropdown" style="@(item.VoidedBy != null || item.CanceledBy != null ? "display:none;" : "")">
                                <button class="btn btn-light dropdown-toggle" type="button" id="actionsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                    Actions
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="actionsDropdown">
                                    @if (item.PostedBy == null)
                                    {
                                        <li><a asp-action="Edit" asp-route-id="@item.DebitMemoId" class="dropdown-item">Edit</a></li>
                                        <li>
                                            <button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#Preview-@item.DebitMemoId" data-bs-url="@Url.Action($"Preview/{item.DebitMemoId}")">
                                                Preview
                                            </button>
                                        </li>
                                        <li><a class="dropdown-item" onclick="confirmPost(@item.DebitMemoId)">Post</a></li>
                                        <li><a class="dropdown-item" onclick="confirmCancel(@item.DebitMemoId)">Cancel</a></li>
                                    }
                                    else
                                    {
                                        <li><a class="dropdown-item" asp-action="Print" asp-route-id="@item.DebitMemoId">Print</a></li>
                                        <li><a class="dropdown-item" onclick="confirmVoid(@item.DebitMemoId)">Void</a></li>
                                    }
                                </ul>
                            </div>

                            @await Html.PartialAsync("_Preview", item)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>